body {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;

	background-color: lightsteelblue;
}

* {
	box-sizing: border-box;
	font-family: 'Luckiest Guy', cursive;
}

#root {
	position: relative;
}